*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.text-downloader{
    display: flex;
    justify-content: flex-end;
}

.download-icon-btn{
    outline: none;
    position: absolute;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: all 300ms ease-in;
    bottom: 100px;
    right: 10px;
}

.download-icon-btn:hover{
    box-shadow: 2px 1px 10px 1px gray;
    border-radius: 50%;
    background-color: transparent;
}
.download-icon{
    font-size: 25px;
}
@media(max-width:450px){
    
    .download-icon-btn{
        bottom: 180px;
        right: 10px;
    }
}